.carousel.slide {
	box-shadow: 8px 8px 8px grey;
}

.carousel-inner {
	max-height: 600px;
}

#carouselContainer {
	margin-bottom: 5em;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

img.imgHeader {
	width: 60%;
	padding-top: 2em;
	padding-bottom: 2em;
}

a.thumbnail {
	margin-bottom: 5em;
}

.thumbnailContent.lead {
	margin-bottom: 0;
	margin-top: 0;
	color: black;
}

.hide {
	display: none;
}

textarea.form-control {
	max-width: 98%;
	max-height: 200px;
	margin-left: auto;
	margin-right: auto;
}

.submitBtn {
	margin-top: 1em;
}

.dropzone.lead {
    border: 1px solid grey;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin: auto;
    font-size: 120%;
    padding-top: 3.5em;
}

.dragover {
    opacity: 0.4;
}

.has-feedback .form-control-feedback {
    top: 0;
    z-index: 2;
}

.validationError {
    color: red;
    display: block;
}